<h1>Login</h1>

<h2><a href="/users/oauth2/redirect/accounts.google.com">Login with Google</a></h2>
<h2><a href="/users/register-github">Login with Github</a></h2>

<form action="/users/login" method="post">
  Email:
  <input type="email" name="email" id="email" />
  Password:
  <input type="password" name="password" id="password" />
  <input type="submit" value="LOGIN" />
</form>

<h2>New User?</h2>
<button onclick="location.href='/register'">Ir a registro</button>